.ControllerFloatingMenu {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s ease;
    z-index: 9;
    height: 100vh;
    width: 300px;
}

.ControllerFloatingMenu.hide {
    left: -300px;
}
